.panel {
    width: auto;
    height: 643px;
    background-color: rgb(0, 0, 0);
    background-image: url('../assets/Background4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.logopage {
    width: 25%;
}