.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    
}

.leftside {
    background-color: rgb(0, 0, 0);
    width: 170px;

}

.rightside {
    background-image: url('../assets/flag.png');
    background-repeat: no-repeat;
    background-position:left;
    background-size: 100%;
}

.logo {
    width: 120px;
}

