.land-back {
    height: 713px;
    background-size: cover;
    background-color: rgb(0, 0, 0);
}

.land-main {
    padding-top: 190px;
    
}

.land-main img {
    width: 40%;
    max-width: 400px;
}