* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.navbar-main {
    width: 100%;
    height: 90px;
    background:transparent;
    display: flex;
    flex-direction: row;
    position: fixed;
    transition: 0.4s;
}

.navbar-main.active {
    width: 100%;
    height: 90px;
    background-color:black;
    display: flex;
    flex-direction: row;
    position: fixed;
    transition: 0.4s;
}

.nav-left {
    visibility: hidden;
    padding-left: 30px;
    padding-right: 35%;
}

.nav-left.active {
    visibility: visible;
    padding-left: 30px;
    padding-right: 35%;
    transition: 0.4s;
}

.nav-left img {
    height: 90px;
}

.Current-view {
    display: none;
}

.Current-view.active {
    padding-left: 48%;
    position: fixed;
    display: flex;
    flex-direction: column;
    color: white;
    height: 90px;
    justify-content: center;
    white-space: nowrap;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 36px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-items: center;
    transform: translateX(100%);
    transition: 0.5s
}

.nav-right.active{
    display: flex;
    flex-direction: row;
    justify-items: center;
    transform: translateX(0%);
    transition: 0.5s
}

.nav-right ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-items: center;
    

}

.nav-right ul li  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
   
}

.link {
    color: white;
    cursor: pointer;
}

ion-icon {
    color: white;
    font-size: 35px;
    padding-top: 5px;
    background-color: black;
    padding-right: 120px;
}

button {
    cursor: pointer;
    background:transparent;
    border: none;
}

.icons {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.icons.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0s;
}

.link:hover,.link:active {
    color: red;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 36px;
    transition: 0.4s;

}

.navopen,.navclose {
    display: none;
}

.navopen.active,.navclose.active {
    display: block;
}

@media (max-width: 980px) {

}